.App {
  text-align: center;
}

.App-logo {
  height: 35vmin;
  pointer-events: none;
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .home-page {
    width: 100%;

    .home-page-header {
        width: 100%;
        background-color: rgb(85, 154, 156) !important;
        border-radius: 1px;
        .App-title {
          color: rgb(201, 235, 245);
          font-weight: 400;
        }
    }
  
    .content {
      background-color: rgba(213, 237, 238, 0.986) !important;

      .amplify-form-container {
        .amplify-form-section {
          width: 100% !important;  

        .amplify-section-header {
          color: white !important;
          background-color: rgb(85, 154, 156) !important;
          .amplify-section-header-content {
            display: none;
          }
        }

        .amplify-section-body {
          background-color: rgba(213, 237, 238, 0.986) !important;
          > * div {
            font-size: 16px !important;
            color: rgb(33, 68, 66);
            font-weight: 350;
          }
        }
        
          .amplify-section-footer {
            color: green !important;
            background-color: rgba(245, 255, 250, 0.986)  !important; 
            .amplify-section-footer-content {
              padding: 0 45px !important;
              input {
                height: 50px !important;
                color: rgb(83, 32, 32) !important;
                font-size: 16px !important;
                font-weight: 500;
                background-color: rgb(248, 255, 255) !important;
              }
                > * button {
                  margin-top: 4px;
                  height: 50px;
                  color: #b0c6ce !important; 
                  font-weight: bold !important;
                  padding: 8px !important;
                  background-color: rgba(16, 97, 77, 0.986)  !important;
                }
            } 
          }
        } 
      } 
    }
  }
}
  


